@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Regular';
  src: local('Poppins'), url('./assets/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bold';
  src: local('Poppins'), url('./assets/fonts/Poppins-Bold.ttf') format('truetype');
}